[bumpversion]
current_version = 1.1.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file(all-extra):pyproject.toml]
search = hdhomerun-mcp[mcp,agent,logfire]>={current_version}
replace = hdhomerun-mcp[mcp,agent,logfire]>={new_version}

[bumpversion:file:a2a.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(mcp-img):docker/Dockerfile]
search = hdhomerun-mcp[mcp]>={current_version}
replace = hdhomerun-mcp[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = hdhomerun-mcp[agent]>={current_version}
replace = hdhomerun-mcp[agent]>={new_version}

[bumpversion:file:hdhomerun_mcp/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:hdhomerun_mcp/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
